:root {
  --cardbg: rgba(229, 229, 229, 0.45);
  --segundacor: rgba(0, 0, 0, 0.5);
}

.cardContainer {
  display: grid;
  margin: 1.1rem 1.1rem;
  grid-template-columns: 1fr;
  max-width: 388px;
  column-gap: 20rem;
  row-gap: 20rem;
  /*  height: 174px; */
}

.container {
  display: flex;
  gap: 0.9rem;
  background-color: var(--cardbg);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5%;
}

.imagemPerfil {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 1.2rem 0;
}

.menuBtn {
  width: 1rem;
  height: 2rem;
  padding: 0.5rem 0.5rem;
  margin: -0.5rem 0rem;
  cursor: pointer;
  font-size: 2rem;
  letter-spacing: 1px;
  border: none;
  background: none;
}

.infoContainer {
  margin: 2rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 104px;
}

.cargo {
  color: var(--segundacor);
  width: 62px;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.8rem;
}

.nome {
  font-size: 0.9rem;
}

.tel,
.email {
  font-size: 0.8rem;
  font-weight: 600;
}
